body{
    max-width: 1000px; /* buat ke tengahin */
    margin: auto; /* biar ke tengahin */
    font-family: sans-serif; /* fontnya sans-serif */
    background-color: #023666; /* background color biru tua */
    color: white; /* text color putih */
    text-decoration: none; /* hilangin garis bawah di link */
}

.profile-image{
    border-radius: 0; /* biar gambarnya kotak (makin naik angkanya makin rounded) */
}

header{
    text-align: center; /* biar headernya ke tengah */
}

.about-me{
    background-color: #4c8bc7; /* background color biru muda */
    padding: 20px; /* padding biar ada jarak di dalam box */
    border-radius: 30px; /* biar boxnya rounded */
}

.contact{
    background-color: #4c8bc7; /* background color biru muda */
    padding: 20px; /* padding biar ada jarak di dalam box */
    border-radius: 30px; /* biar boxnya rounded */
    margin-top: 10px; /* biar ada jarak di atas box */
}

.contact ul{
    list-style-type: none; /* hilangin bullet point di list */
    padding-left: 0; /* hilangin padding di list */
}

.contact a{
    text-decoration: none; /* hilangin garis bawah di link */
    color: white; /* text color putih */
    background-color: #30485e; /* background color biru tua */
    padding: 4px 8px; /* padding biar ada jarak di dalam box */
    margin: 5px; /* biar ada jarak di luar box */
    border-radius: 4px; /* biar boxnya rounded */
    display: inline-block; /* biar bisa diatur jaraknya */
    margin-top: 5px; /* biar ada jarak di atas box */
}

.contact a:hover{
    background-color: #1e2f3e; /* background color biru tua */
}